.leaflet-container {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.custom-div-icon {
    background: none !important;
    border: none !important;
}

/* Fix for missing marker images in Vite */
.leaflet-default-icon-path {
    background-image: url(https://unpkg.com/leaflet@1.9.4/dist/images/marker-icon.png);
}